<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stickearn.movie.stickearnmovieapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StickEarnMovieApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.movieHome.HomeMovieActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.movieDetails.DetailMovieActivity" />
        <activity android:name=".view.movieFavorite.FavoriteMovieActivity" />
    </application>

</manifest>